       <div [formGroup]="parent"> <!-- Passess the formGroup to the child component -->
        <div formGroupName="store" class="form-group">
            <input type="text" formControlName="branch" placeholder="Branch ID">
            <div class="error" *ngIf="required('branch')" >
                The branch Id is required
            </div>
            <div class="error" *ngIf="invalid" >
                Invalid branch code: 1 letter 3 numbers
            </div>
            <input type="text" formControlName="code" placeholder=" Manager Code">
            <div class="error" *ngIf="required('code')">
                The manager code is required
            </div>
        </div>
