<app-nav></app-nav>
<div id="main-wrapper">
  <div>
    <ng-container *ngIf="products$">
    <mat-table mat-table [dataSource]="dataSource" matSort class="table-mat mat-elevation-z8">

      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantityPerUnit}} </td>
      </ng-container>


      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let element; let m = index">
          <svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="star" *ngFor="let star of getStars(element.rating); let i=index">
            <linearGradient y2="0%" x2="100%" y1="0%" x1="0%" [attr.id]="'F1g' + m + '' + i">
            <stop stop-color="#03dffc" [attr.offset]="star" [attr.id]="'F1gst' + i"/>
            <stop stop-color="#FFFFFF" offset="0%" id="F1gst2"/>
            </linearGradient>
            <polygon [attr.fill]="getFill(m+ '' + i)" stroke="lightgrey" points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon>
          </svg>
        </td>
      </ng-container>

      <ng-container matColumnDef="discontinued">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discontinued </th>
        <td mat-cell *matCellDef="let element"> {{element.discontinued}} </td>
      </ng-container>


      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">
        <button class="btn btn-primary"  [routerLink]="['details', element.productId]">Edit</button></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element">
        <button class="btn btn-primary" (click)="deleteProduct(element)">Delete</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>
    </ng-container>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>

    <button class="btn btn-success" routerLink="details/new">Add New Product</button>

    </div>
  </div>


  <div> 
    <!--
    <app-selectorbyindex
        [collection]="product"
        (selectedObject)="selectedItem($event)">
        </app-selectorbyindex>-->
  </div>